<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WUPHF.COM | <%= title %></title>
    <script src="https://kit.fontawesome.com/d0d39b9bb5.js" crossorigin="anonymous"></script>
    <style>
       .emoji{
           font-size: 150px;
       }
       body{
           font-family: monospace;
           background-color:rgb(55,46,46);
           color: white;
       }
    </style>
</head>
<body>
    <div style="text-align:center;"><span class="emoji"><i class="far fa-frown"></i></span><br><span style="font-size:40px">The URL you entered is not valid</span></div>
</body>
</html>
